{% extends 'base.html' %}


{% block content %}

{% load static %}

<link rel="stylesheet" href='{% static "css/bootstrap.css" %}'>
<link rel="stylesheet" href='{% static "css/home.css" %}'>

<body>
	<a href="{% url 'detail' random_item.id %}" class="text-white font-weight-bold">
		<div class="jumbotron text-white rounded bg-dark" style="background-image: url({{ random_item.image.url }}); background-size: cover; background-position: center;">
			<div class="col-md-6 px-0 main-heading">
				<!-- <h1 class="display-4 mt-5 font-italic">{{ random_item.title }}</h1>
					<p class="lead my-2">{{ random_item.summary }}</p> -->
					<!-- <p class=""><a href="{% url 'detail' random_item.id %}" class="text-white font-weight-bold">Continue reading...</a></p> -->
				</div>
			</div>
		</a>
		<p><a href="product/all" class="text-dark mb-2"><i class="ml-1 fa fa-search" aria-hidden="true"></i>Search all products here...</a></p>
		<div class="row mb-2">
			{% for product in products.all %}
			<div class="col-md-6">
				<div class="card flex-md-row mb-5 box-shadow h-md-200">
					<div class="card-body d-flex flex-column align-items-start">
						<p class="link-item mb-0">{{ product.tag }}</p>
						<h3 class="mb-0 mt-1">{{ product.title }}</h3>
						<div class="mb-0 mt-3 text-muted">{{ product.pub_date }}<a class="text-dark" href="{{ product.url }}"><i class="ml-1 fa fa-external-link" aria-hidden="true"></i></a></div>
						<p class="card-text mb-auto">{{ product.summary }}</p>
						<strong class="d-inline-block mb-2 mt-1 text-primary" style="cursor: pointer;"><a href="{% url 'detail' product.id %}">Continue reading...</a></strong>
					</div>
					<img class="m-5 flex-auto d-none d-md-block" src="{{ product.icon.url }}" alt="{{ product.icon }}" width=100 height=100>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</body>
</html>
{% endblock %}
